body {
    font-family: "Georgia", sans-serif;
}

section {
    text-align: center;
}

.cell {
    font-family: "Bradley Hand", cursive;
    color: #FFFFFF;
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 2px 2px #ecd7ba;
    border: 2px solid #ecd7ba;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.game--title {
    font-size: 100px;
    color: #000000;
    margin: 10px auto;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 10px auto;
    background-color: #11213a;
    color: #04c0b2;
}

.game--status {
    font-size: 50px;
    color: #000000;
    margin: 20px auto;
}

.game--restart {
    background-color: #FFFFFF;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #000000;
    box-shadow: 2px 2px 2px 2px #d86c23;
    border: 2px solid #d86c23;
}